@model MyPortpolio.Models.Account

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="col-lg-4 col-md-6 ml-auto mr-auto">
	<div class="card card-login">
		<form class="form" asp-action="Login">
			<div class="card-header card-header-primary text-center">
				<h4 class="card-title">Login</h4>
				<div class="social-line">
					@*<a href="#pablo" class="btn btn-just-icon btn-link">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a href="#pablo" class="btn btn-just-icon btn-link">
					<i class="fa fa-twitter"></i>
				</a>
				<a href="#pablo" class="btn btn-just-icon btn-link">
					<i class="fa fa-google-plus"></i>
				</a>*@
				</div>
			</div>
			<p class="description text-center">&nbsp;</p>
			<div class="card-body">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="material-icons">mail</i>
						</span>
					</div>
					<input type="email" class="form-control" placeholder="Email"
						   asp-for="Email">
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="material-icons">lock_outline</i>
						</span>
					</div>
					<input type="password" class="form-control" placeholder="Password"
						   asp-for="Password">
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="col">
					@if (ViewBag.Message != null)
					{
						<span>@ViewBag.Message</span>
					}
				</div>
			</div>
			<div class="footer text-center">
				<button type="submit" class="btn btn-primary">Login</button>
			</div>
		</form>
	</div>
</div>



