<!DOCTYPE html>
<html lang="en">

@Html.Partial("HeadPage.cshtml")

<body class="login-page sidebar-collapse">
	@Html.Partial("NavPage.cshtml")
	<div class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
		<div class="container">
			<div class="row">
				<div class="col">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>
	@Html.Partial("FooterPage.cshtml")
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>