@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor hca

<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
	<div class="container">
		<div class="navbar-translate">
			<a class="navbar-brand" href="~/Home/index">JH's Portfolio</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Profile">
						<i class="material-icons">assignment_ind</i> Profile
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Portpolio">
						<i class="material-icons">assignment</i> Portpolio
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Contacts" asp-action="Index">
						<i class="material-icons">phone</i> Contact
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Board" asp-action="Index">
						<i class="material-icons">dashboard_customize</i> Board
					</a>
				</li>

				@if (string.IsNullOrEmpty(hca.HttpContext.Session.GetString("UserEmail")))
				{
					<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
						<i class="material-icons">lock_open</i> Login
					</a>
					</li>
				}
				else
				{
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">
							<i class="material-icons">lock</i> Logout @*(@hca.HttpContext.Session.GetString("UserEmail"))*@
						</a>
					</li>
				}
			</ul>
		</div>
	</div>
</nav>