@model MyPortpolio.Models.Contact
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="col-lg col-md ml-auto mr-auto">
	<div class="card card-login">
		<div class="card-header card-header-primary text-center">
			<h4 class="card-title">Contact</h4>
			<div class="social-line">
			</div>
		</div>
		<div class="section section-contacts">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto">
					<h4 class="text-center description">채용에 관심이 있으신 분은 여기로 연락바랍니다.</h4>
					<form class="contact-form" asp-action="Index">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating" asp-for="Name">성함</label>
									<input type="text" class="form-control" asp-for="Name">
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating" asp-for="Email">이메일</label>
									<input type="email" class="form-control" asp-for="Email">
									<span asp-validation-for="Email" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="exampleMessage" class="bmd-label-floating" asp-for="Contents">내용</label>
							<textarea type="text" class="form-control" rows="4" id="exampleMessage" asp-for="Contents"></textarea>
							<span asp-validation-for="Contents" class="text-danger"></span>
						</div>
						<div class="row">
							<div class="col-md-4 ml-auto mr-auto text-center">
								<button type="submit" class="btn btn-primary btn-raised">
									전송
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col">
								@if (ViewBag.Message != null)
								{
									<span>@ViewBag.Message</span>
								}
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>