
@{
    ViewData["Title"] = "Board";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-lg col-md ml-auto mr-auto">
	<div class="card card-login">
		<div class="section section-contacts">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto">
					<h3 class="text-center title" style="color:black; vertical-align:top">Board</h3>
					<form class="contact-form">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

