@{
	ViewData["Title"] = "Contact";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-lg col-md ml-auto mr-auto">
	<div class="card card-login">
		<div class="card-header card-header-primary text-center">
			<h4 class="card-title">Contact</h4>
			<div class="social-line">
				@*<a href="#pablo" class="btn btn-just-icon btn-link">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a href="#pablo" class="btn btn-just-icon btn-link">
					<i class="fa fa-twitter"></i>
				</a>
				<a href="#pablo" class="btn btn-just-icon btn-link">
					<i class="fa fa-google-plus"></i>
				</a>*@
			</div>
		</div>
		<div class="section section-contacts">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto">
					@*<h2 class="text-center title">Contact</h2>*@
					<h4 class="text-center description">채용에 관심이 있으신 분은 여기로 연락바랍니다.</h4>
					<form class="contact-form">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating">성함</label>
									<input type="email" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating">이메일</label>
									<input type="email" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="exampleMessage" class="bmd-label-floating">내용</label>
							<textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
						</div>
						<div class="row">
							<div class="col-md-4 ml-auto mr-auto text-center">
								<button class="btn btn-primary btn-raised">
									전송
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
