@{
	ViewData["Title"] = "Profile";
	Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="row">
	<div class="col-md-6 ml-auto mr-auto">
		<div class="profile">
			<div class="avatar">
				<img src="~/assets/img/faces/christian.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
			</div>
			<div class="name">
				<h3 class="title">Jack</h3>
				<h6>Full Stack</h6>
				<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
				<a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
				<a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
			</div>
		</div>
	</div>
</div>
<div class="description text-center">
	<p>An artist of considerable range, Chet Faker &#x2014; the name taken by Melbourne-raised, Brooklyn-based Nick Murphy &#x2014; writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />